body {
    background-image: url("picture/background_newMatch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#menu {
    text-align: center;
    margin-top: 5vw;
}

form {
    display: inline-block;
    text-align: left;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: white;
}

input[type="text"] {
    width: 30vw;
    padding: 5px;
    margin-bottom: 10px;
}
